In [46]:
import pandas as pd
import numpy as np
import scipy.stats as st

import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [32]:
confile = list(pd.read_csv('../../dbcon.csv'))
postgres_db = 'houseprices'
db_connection = 'postgresql://{}:{}@{}:{}/{}'.format(confile[0], confile[1], confile[2], confile[3], postgres_db)

query = f'''
SELECT *
FROM {postgres_db}
;'''

houseprices = pd.read_sql(query, db_connection)
display(
    houseprices.isna().mean(),
    houseprices.info(),
    houseprices.head(5)
)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 81 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             1460 non-null   int64
 1   mssubclass     1460 non-null   int64
 2   mszoning       1460 non-null   object
 3   lotfrontage    1201 non-null   float64
 4   lotarea        1460 non-null   int64
 5   street         1460 non-null   object
 6   alley          91 non-null     object
 7   lotshape       1460 non-null   object
 8   landcontour    1460 non-null   object
 9   utilities      1460 non-null   object
 10  lotconfig      1460 non-null   object
 11  landslope      1460 non-null   object
 12  neighborhood   1460 non-null   object
 13  condition1     1460 non-null   object
 14  condition2     1460 non-null   object
 15  bldgtype       1460 non-null   object
 16  housestyle     1460 non-null   object
 17  overallqual    1460 non-null   int64
 18  overallcond    1460 non-null   int64
 19  yearbuilt      1460 non-null   int64
 20  yearremodadd   1460 non-null   int64
 21  roofstyle      1460 non-null   object
 22  roofmatl       1460 non-null   object
 23  exterior1st    1460 non-null   object
 24  exterior2nd    1460 non-null   object
 25  masvnrtype     1452 non-null   object
 26  masvnrarea     1452 non-null   float64
 27  exterqual      1460 non-null   object
 28  extercond      1460 non-null   object
 29  foundation     1460 non-null   object
 30  bsmtqual       1423 non-null   object
 31  bsmtcond       1423 non-null   object
 32  bsmtexposure   1422 non-null   object
 33  bsmtfintype1   1423 non-null   object
 34  bsmtfinsf1     1460 non-null   int64
 35  bsmtfintype2   1422 non-null   object
 36  bsmtfinsf2     1460 non-null   int64
 37  bsmtunfsf      1460 non-null   int64
 38  totalbsmtsf    1460 non-null   int64
 39  heating        1460 non-null   object
 40  heatingqc      1460 non-null   object
 41  centralair     1460 non-null   object
 42  electrical     1459 non-null   object
 43  firstflrsf     1460 non-null   int64
 44  secondflrsf    1460 non-null   int64
 45  lowqualfinsf   1460 non-null   int64
 46  grlivarea      1460 non-null   int64
 47  bsmtfullbath   1460 non-null   int64
 48  bsmthalfbath   1460 non-null   int64
 49  fullbath       1460 non-null   int64
 50  halfbath       1460 non-null   int64
 51  bedroomabvgr   1460 non-null   int64
 52  kitchenabvgr   1460 non-null   int64
 53  kitchenqual    1460 non-null   object
 54  totrmsabvgrd   1460 non-null   int64
 55  functional     1460 non-null   object
 56  fireplaces     1460 non-null   int64
 57  fireplacequ    770 non-null    object
 58  garagetype     1379 non-null   object
 59  garageyrblt    1379 non-null   float64
 60  garagefinish   1379 non-null   object
 61  garagecars     1460 non-null   int64
 62  garagearea     1460 non-null   int64
 63  garagequal     1379 non-null   object
 64  garagecond     1379 non-null   object
 65  paveddrive     1460 non-null   object
 66  wooddecksf     1460 non-null   int64
 67  openporchsf    1460 non-null   int64
 68  enclosedporch  1460 non-null   int64
 69  threessnporch  1460 non-null   int64
 70  screenporch    1460 non-null   int64
 71  poolarea       1460 non-null   int64
 72  poolqc         7 non-null      object
 73  fence          281 non-null    object
 74  miscfeature    54 non-null     object
 75  miscval        1460 non-null   int64
 76  mosold         1460 non-null   int64
 77  yrsold         1460 non-null   int64
 78  saletype       1460 non-null   object
 79  salecondition  1460 non-null   object
 80  saleprice      1460 non-null   int64
dtypes: float64(3), int64(35), object(43)
memory usage: 924.0+ KB

id               0.000000
mssubclass       0.000000
mszoning         0.000000
lotfrontage      0.177397
lotarea          0.000000
                   ...
mosold           0.000000
yrsold           0.000000
saletype         0.000000
salecondition    0.000000
saleprice        0.000000
Length: 81, dtype: float64

None

,id,mssubclass,mszoning,lotfrontage,lotarea,street,alley,lotshape,landcontour,utilities,...,poolarea,poolqc,fence,miscfeature,miscval,mosold,yrsold,saletype,salecondition,saleprice
0,1,60,RL,65.0,8450,Pave,None,Reg,Lvl,AllPub,...,0,None,None,None,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,None,Reg,Lvl,AllPub,...,0,None,None,None,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,None,IR1,Lvl,AllPub,...,0,None,None,None,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,None,IR1,Lvl,AllPub,...,0,None,None,None,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,None,IR1,Lvl,AllPub,...,0,None,None,None,0,12,2008,WD,Normal,250000

In [40]:
cols = ['mosold', 'lotfrontage', 'lotarea', 'firstflrsf', 'garagearea', 'bedroomabvgr', 'fullbath', 'saleprice']
houseprices = houseprices[cols].dropna().reset_index(drop=True)
X = houseprices.drop(columns=['saleprice'])
y = houseprices.saleprice

In [47]:
scaler = StandardScaler()
scaled_X = scaler.fit_transform(X)

X_train, X_test, y_train, y_test = train_test_split(scaled_X, y, test_size=0.25, random_state=36)

model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [61]:
coefs = scaler.inverse_transform(model.coef_)
for i in range(0, len(X.columns)):
    print(f"{coefs[i]:.2f} * {X.columns[i]} + ")
print(f"{model.intercept_:.2f}")

3360.60 * mosold +
-19526.83 * lotfrontage +
77476266.51 * lotarea +
8327862.84 * firstflrsf +
6420358.49 * garagearea +
-1280.86 * bedroomabvgr +
12756.31 * fullbath +
180342.64